{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "no-console": 0,
    "no-continue": 0
  },
  "parserOptions": {
    "sourceType": "script"
  }
}
